body,html {
    height: 100vh;
    width: 100%;
  

}
.container{
 height: 100vh;
    display: flex;
    width: 100%;

}
#left{
    width: 55%;
    display:flex ;
    justify-content: center;
box-sizing: border-box;
background-image: url(./images/WhatsApp\ Image\ 2021-04-14\ at\ 15.06.34.jpeg) ;
background-repeat: no-repeat;
background-size: cover;}



.right {
    width: 45%;
    display:flex;
    justify-self: center;
    box-sizing: border-box;
}


 #logo{
     margin-top:10%;
     margin-left: 5%;
 }
 h1{
    font-family: 'Work Sans', sans-serif;
    font-size:70px;
    margin-top:10%;
     margin-left: 5%;
 }
 h2{
    font-family: 'Work Sans', sans-serif;
    font-size:35px;
    margin-top:10%;
     margin-left: 5%;
    font-weight: 700;
    margin-bottom: 40px;
 }
button{
    border-radius: 25px;
    text-align: center;
    line-height: 1px;
    padding: 20px;
    width: 400px;
    height: 48px; 
    margin-bottom:5%;
     margin-left: 5%;
     display:block;
    font-weight: 700;
    cursor: pointer;
}


footer{
   height:4vh;
  
    width:100%;
    text-align: center;
  padding-top:5px;
 


}

a, .inc{
    font-size: 14px;
    color: rgb(126, 123, 123);
    text-decoration: none;
    margin-right: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin-top:5px;
   
}
a{
    cursor: pointer;
}

.btn1:hover{
background-color:rgb(58, 86, 163)!important;


}
.btn2:hover{
    background-color:rgb(211, 221, 248)!important;

}
  a:hover{
   text-decoration-line: underline;
    }
   #LOGO{
    width: 300px;

   }

   @media only screen and (max-width:980px) {
      #left , .right {
         
          width:100%;
     
      }
      .right{
       height: 80vh;
      }
      #left{
          height: 40vh;
      }
    
      .inner{
   margin: 0px auto;
    }
  .buttons{
      display: flex;

  }
  button{
      max-width: 250px !important;
      margin-left: 4%;
  }
      
    .container{
           display:flex;
           flex-direction: column-reverse; 
           width: 100%;
           
           height: 120vh;
       }
       
   }

   
   @media only screen and (max-width:500px) {
    #left , .right {
       
        width:100%;
   
    }
    #left{height: 40vh;}
  .right{height: 60vh;}
    .inner{
 margin: 0px auto;
  }
  
.buttons{
   display: flex;
   flex-direction: column;
}
button{
    width: 250px;
    
    display: block;
}

    h1{
        font-family: 'Work Sans', sans-serif;
        font-size:40px;
        margin-top:10%;
         margin-left: 5%;
         font-weight: 500;
     }
     h2{
        font-family: 'Work Sans', sans-serif;
        font-size:25px;
        margin-top:10%;
         margin-left: 5%;
        font-weight: 700;
        margin-bottom: 5%;
     }
    
  .container{
         display:flex;
         flex-direction: column-reverse; 
         width: 100%;
         height: 100vh;
         
     }
 }